@page
@model aeroflots.Pages.Tickets.MyTicketsModel

@{
    ViewData["Title"] = "MyTickets";
    @using aeroflots.Models;
}
@functions {
    public string GetFlight(Flight fl)
    {
        return $"<td>{fl.Schedule.Departure}</td>" +
        $"<td>{fl.Schedule.Arrival}</td>" +
        $"<td>{fl.Schedule.DepartureTime}</td>" +
        $"<td>{fl.Schedule.ArrivalTime}</td>" +
        $"<td>{fl.Schedule.Class}</td>" +
        $"<td>{fl.FreeSeats}</td>" +
        $"<td>{fl.Schedule.Cost}$</td>";
    }
}

<h1>My Tickets</h1>

<table class="table">
    <thead>
        <tr>
            <th rowspan="2">
                @Html.DisplayNameFor(model => model.Ticket[0].Date)
            </th>
            <th rowspan="2">
                @Html.DisplayNameFor(model => model.Ticket[0].Path[0].Schedule.Departure)
            </th>
            <th rowspan="2">
                @Html.DisplayNameFor(model => model.Ticket[0].Path[0].Schedule.DepartureTime)
            </th>
            <th rowspan="2">
                @Html.DisplayNameFor(model => model.Ticket[0].Path.Last().Schedule.Arrival)
            </th>
            <th rowspan="2">
                @Html.DisplayNameFor(model => model.Ticket[0].Path.Last().Schedule.ArrivalTime)
            </th>
            <th rowspan="2">
                Seats
            </th>
            <th rowspan="2">
                Cost
            </th>
            <th colspan="7">
                Path
            </th>
        </tr>
        <tr>
            <th>Dep</th>
            <th>Arr</th>
            <th>DepTime</th>
            <th>ArrTime</th>
            <th>Class</th>
            <th>Free Seats</th>
            <th>Cost</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Ticket)
        {
        <tr>
            <td rowspan="@item.Path.Count">
                @item.Date.ToShortDateString()
            </td>
            <td rowspan="@item.Path.Count">
                @item.Path[0].Schedule.Departure
            </td>
            <td rowspan="@item.Path.Count">
                @item.Path[0].Schedule.DepartureTime.ToString()
            </td>
            <td rowspan="@item.Path.Count">
                @item.Path.Last().Schedule.Arrival
            </td>
            <td rowspan="@item.Path.Count">
                @item.Path.Last().Schedule.ArrivalTime.ToString()
            </td>
            <td rowspan="@item.Path.Count">
                @item.Seats
            </td>
            <td rowspan="@item.Path.Count">
                @item.GetCost()$
            </td>
            @Html.Raw(GetFlight(item.Path[0]))
        </tr>
            @for (int i = 1; i < item.Path.Count; i++)
            {
                <tr>
                    @Html.Raw(GetFlight(item.Path[i]))
                </tr>
            }
        }
    </tbody>
</table>

